# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CSE107\JavaIO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
